.footer {
  position: relative; /* 기본 위치로 변경 */
  bottom: 0;
  width: 100%;
  height: 80px; /* 푸터 높이 */
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  /* clear: both; */
}